.DS_Store
data/
repos/PANet/runs/
repos/PANet/pretrained_model/
repos/CHTC-test/outputs/
grayscale-CNN/Greyscale_Images/
grayscale-CNN/Greyscale_Images_png/
repos/grayscale-CNN/outputs/
repos/grayscale-CNN/core.*
